<%= form_for(brain) do |f| %>
  <% if brain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brain.errors.count, "error") %> Esta ´prohibido guardar este cerebro:</h2>

      <ul>
      <% brain.errors.full_messages.each do |message| %>
        <li><%= Mensaje %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Zombie %>
    <%= f.collection_select :zombie_id, Zombie.order(:name), :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :Sabor %>
    <%= f.text_field :flavor %>
  </div>

  <div class="field">
    <%= f.label :Iq %>
    <%= f.number_field :iq %>
  </div>

  <div class="field">
    <%= f.label :Fresco %>
    <%= f.check_box :fresh %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
